<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat em Tempo Real</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1 class="text-center">Chat em Tempo Real</h1>
    <ul id="messages" class="list-unstyled"></ul>
    <form id="form" action="" class="form-inline">
      <input id="input" autocomplete="off" class="form-control mr-2" /><button class="btn btn-primary">Enviar</button>
    </form>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
  <script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('response', function (msg) {
      console.log('Mensagem recebida:', msg);
      var ul = document.getElementById('messages');
      var li = document.createElement('li');
      li.appendChild(document.createTextNode(msg));
      ul.appendChild(li);
    });

    document.getElementById('form').onsubmit = function () {
      var message = document.getElementById('input').value;
      console.log('Enviando mensagem:', message);
      socket.emit('message', message);
      document.getElementById('input').value = '';
      return false;
    };
  </script>
</body>

</html>